<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <script type="text/javascript" src="/scripts/primus.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/scripts/xmpp.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 30px;
      }
    </style>
  </head>
  
  <body>
    <div class="container">
      <form id="loginForm" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="inputJid" placeholder="jid" >
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="password" >
        </div>
        <button type="button" class="btn btn-default" id="btnLogin">Login</button>
        <div class="form-group">
          <label>
              <input id="anonymousCheckbox" type="checkbox" value="">
              Anonymous login?
          </label>
        </div>
      </form>
      <form id="registrationForm" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="inputUsername" placeholder="nick" >
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputRegisterPassword" placeholder="password" >
          <input type="password" class="form-control" id="inputConfirmPassword" placeholder="retype password" >
        </div>
        <button type="button" class="btn btn-default" id="btnRegister">Register</button>
      </form>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge pull-left">@abmargb</span>
          <br>
          <h4>Hello</h4>
        </li>
        <li class="list-group-item">
          <span class="badge pull-left">@guilherme</span>
          <br>
          <h4>Hi</h4>
        </li>
      </ul>
      <form class="form-inline" role="form">
        <div class="form-group form-input">
          <input type="text" class="form-control" id="inputMessage" placeholder="Enter message">
        </div>
        <button type="button" class="btn btn-default" id="btnSendMessage">Send</button>
      </form>
    </div>

  </body>
</html>
